.header {
  text-align: center;

  h1 {
    font-family: 'Druk Cyr';
    font-size: 101px;
    padding-top: 110px;
    line-height: 0;
  }

  h4 {
    font-family: 'Gotthard';
    padding-top: 50px;
    color: #7300ff;
    font-size: 60px;
    text-transform: uppercase;
  }

  @media (max-width: 910px) {
    h1 {
      font-size: 70px;
    }
    h4 {
      font-size: 40px;
    }
  }
  @media (max-width: 660px) {
    h1 {
      font-size: 50px;
      padding-top: 50px;
    }
    h4 {
      font-size: 20px;
      padding-top: 30px;
    }

    @media (max-width: 480px) {
      h1 {
        font-size: 30px;
      }
    }
  }
}
