.header {
  h1 {
    font-size: 17.28px;
    font-weight: 500;
    font-family: "Druk Cyr";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.903;
    text-align: center;
    -moz-transform: matrix(
      5.84731495007046,
      -1.90138808277949e-16,
      0,
      5.84731495007046,
      0,
      0
    );
    -webkit-transform: matrix(
      5.84731495007046,
      -1.90138808277949e-16,
      0,
      5.84731495007046,
      0,
      0
    );
    -ms-transform: matrix(
      5.84731495007046,
      -1.90138808277949e-16,
      0,
      5.84731495007046,
      0,
      0
    );
  }
  h4 {
    font-size: 17.28px;
    font-family: "Gotthard";
    color: rgb(98, 0, 255);
    text-transform: uppercase;
    line-height: 0.903;
    text-align: center;
    -moz-transform: matrix(
      3.461719977322,
      -1.12565736017356e-16,
      0,
      3.461719977322,
      0,
      0
    );
    -webkit-transform: matrix(
      3.461719977322,
      -1.12565736017356e-16,
      0,
      3.461719977322,
      0,
      0
    );
    -ms-transform: matrix(
      3.461719977322,
      -1.12565736017356e-16,
      0,
      3.461719977322,
      0,
      0
    );
    // position: absolute;
    // left: 506.705px;
    // top: 229.198px;
    // z-index: 5;
  }
}
