@font-face {
  font-family: 'Gotthard';
  src: url('./gotthard.otf');
  /* font-weight: bold;
    font-style: italic; */
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('./drukecyr.otf');
  /* font-weight: bold;
    font-style: italic; */
}
