.pands {
  text-align: center;
  margin-top: 85px;
  @media (max-width: 700px) {
    margin-top: 40px;
  }
  h1 {
    font-size: 70px;
    font-weight: bold;
    transform: rotate(-1deg);
    font-style: italic;
  }
  h4 {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    transform: rotate(-1deg);
  }

  @media (max-width: 700px) {
    h1 {
      font-size: 50px;
    }
    h4 {
      font-size: 23px;
    }
  }

  @media (max-width: 550px) {
    h1 {
      font-size: 35px;
    }
    h4 {
      font-size: 18px;
    }
  }

  @media (max-width: 350px) {
    h1 {
      font-size: 30px;
    }
  }

  &__btns {
    position: absolute;
    z-index: 23;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 500px;
    img {
      cursor: pointer;
      min-width: 60px !important;
    }

    @media (max-width: 700px) {
      gap: 350px;
    }

    @media (max-width: 550px) {
      gap: 250px;

      img {
        min-width: 40px !important;
      }
    }
    @media (max-width: 400px) {
      gap: 200px;
    }
  }
}
.legendary {
  color: #e6c200;
}

.title__slider {
  overflow: hidden;
}

.swiper {
  @media (min-width: 700px) {
    .swiper-slide-prev {
      height: 820px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: end !important;
      transition: 0.3s;
      img {
        height: 60% !important;
        min-width: 277px;
      }
    }

    .swiper-slide-next {
      height: 820px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: end !important;
      transition: 0.3s;
      img {
        height: 60% !important;
        min-width: 277px;
      }
    }

    .swiper-slide-active {
      height: 820px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: end !important;
      transition: 0.3s;
      img {
        height: 100% !important;
      }
      @media (max-width: 700px) {
        margin-top: 20px;
        height: inherit !important;
      }
    }

    .lowered:not(.swiper-slide-active) {
      height: 820px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: end !important;
      transition: 0.3s;
      img {
        height: 60% !important;
        min-width: 277px;
      }
      @media (max-width: 700px) {
        height: 600px !important;
      }
    }
  }
  .swiper-wrapper {
    margin-top: 30px;
    position: relative;
  }
  .swiper-slide {
    transition: 0.3s;

    img {
      transition: 0.3s !important;
      height: 820px;
      min-width: 455px;

      @media (max-width: 700px) {
        height: 600px !important;
        min-width: auto;
      }
      @media (max-width: 450px) {
        height: 400px !important;
      }
    }
  }
}

.swiper-pagination {
}
.swiper-button-prev {
}
.rotate {
}
.swiper-button-next {
}
